In [316]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [317]:
veriler=pd.read_csv("odev_tenis.csv")

veriler.head(20)

     outlook  temperature  humidity  windy play
0      sunny           85        85  False   no
1      sunny           80        90   True   no
2   overcast           83        86  False  yes
3      rainy           70        96  False  yes
4      rainy           68        80  False  yes
5      rainy           65        70   True   no
6   overcast           64        65   True  yes
7      sunny           72        95  False   no
8      sunny           69        70  False  yes
9      rainy           75        80  False  yes
10     sunny           75        70   True  yes
11  overcast           72        90   True  yes
12  overcast           81        75  False  yes
13     rainy           71        91   True   no

In [318]:
#ödev olduğunu bildiğimiz için.. İlk kim ak kim kara onu bilmemiz gerekiyor. Büyük ihtimalle Target kolonum PLAY olacak. Diğerleri de features olacak. Ondan sonra outlook'a da bir labelEncoder uygulucam.
# 
#  Ayrıca windy de aynı sistemi uygulucam ama dikkat DUMMY variables tuzağı olabilir.

## VERİLERİN ÖN İŞLEMESİ

In [319]:
featuresDf=veriler.drop(columns=["play"],axis=1) #şimdi sadece features'larım kaldı..

#şimdi labelEncoder- Ve OneHotEncoding yöntemi..
outlook=veriler.iloc[:,0:1].values
outlook

array([['sunny'],
       ['sunny'],
       ['overcast'],
       ['rainy'],
       ['rainy'],
       ['rainy'],
       ['overcast'],
       ['sunny'],
       ['sunny'],
       ['rainy'],
       ['sunny'],
       ['overcast'],
       ['overcast'],
       ['rainy']], dtype=object)

In [320]:
#şimdi de LabelEncoder ve OneHotEncoder yöntemi

from sklearn import preprocessing
le= preprocessing.LabelEncoder()

outlook[:,0]=le.fit_transform(veriler.iloc[:,0])

print(outlook)

ohe=preprocessing.OneHotEncoder()
outlook=ohe.fit_transform(outlook).toarray()

print(outlook)

[[2]
 [2]
 [0]
 [1]
 [1]
 [1]
 [0]
 [2]
 [2]
 [1]
 [2]
 [0]
 [0]
 [1]]
[[0. 0. 1.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [1. 0. 0.]
 [0. 1. 0.]]

In [321]:
#Windy'nin OneHotEncoder yöntemi ..Trick noktaya dikkat sadece bir kolon alınacak.

windyDf=veriler.iloc[:,-2:-1].values


windyDf[:,-1]=le.fit_transform(veriler.iloc[:,-2:-1])


windyDf=ohe.fit_transform(windyDf).toarray()
print(windyDf)

[[1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]]

c:\Users\yusuf\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [322]:
playDf=veriler.iloc[:,-1:].values


playDf[:,-1]=le.fit_transform(veriler.iloc[:,-1:])


playDf=ohe.fit_transform(playDf).toarray()
print(playDf)

[[1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]]

c:\Users\yusuf\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [323]:

DigerFeatures=veriler.iloc[:,1:3]
DigerFeatures

    temperature  humidity
0            85        85
1            80        90
2            83        86
3            70        96
4            68        80
5            65        70
6            64        65
7            72        95
8            69        70
9            75        80
10           75        70
11           72        90
12           81        75
13           71        91

In [324]:
#Numpy dizilerinin DataFrame dönüşmesi..

sonuc=pd.DataFrame(data=outlook,index=range(14),columns=["overcast","rainy","sunny"])

sonuc1=pd.DataFrame(data=windyDf[:,1:2],index=range(14),columns=["windy"])

sonuc2=pd.DataFrame(data=playDf[:,1:2],index=range(14),columns=["play"])

In [325]:
sonuc #Rüzgarlı günler 1 olarak belirlenirken, olmayan günler 0 olarak belirlenmiştir.

    overcast  rainy  sunny
0        0.0    0.0    1.0
1        0.0    0.0    1.0
2        1.0    0.0    0.0
3        0.0    1.0    0.0
4        0.0    1.0    0.0
5        0.0    1.0    0.0
6        1.0    0.0    0.0
7        0.0    0.0    1.0
8        0.0    0.0    1.0
9        0.0    1.0    0.0
10       0.0    0.0    1.0
11       1.0    0.0    0.0
12       1.0    0.0    0.0
13       0.0    1.0    0.0

In [326]:
sonuc2 #Oynanabilirler 1 oynanamazlar 0 olarak belirlenmiştir.

    play
0    0.0
1    0.0
2    1.0
3    1.0
4    1.0
5    0.0
6    1.0
7    0.0
8    1.0
9    1.0
10   1.0
11   1.0
12   1.0
13   0.0

## Verileri birleştirme işlemi

In [327]:
s=pd.concat([sonuc,DigerFeatures],axis=1)
s2=pd.concat([sonuc1,s],axis=1)

In [328]:
s3=pd.concat([s2,sonuc2],axis=1)

In [329]:
GeriS3=s2.drop(columns=["windy","sunny","temperature"],axis=1)
GeriS3

    overcast  rainy  humidity
0        0.0    0.0        85
1        0.0    0.0        90
2        1.0    0.0        86
3        0.0    1.0        96
4        0.0    1.0        80
5        0.0    1.0        70
6        1.0    0.0        65
7        0.0    0.0        95
8        0.0    0.0        70
9        0.0    1.0        80
10       0.0    0.0        70
11       1.0    0.0        90
12       1.0    0.0        75
13       0.0    1.0        91

## VERİYİ TEST VE TRAIN OLARAK AYIRMA VE MODEL HAZIRLAMA

Test ve Train olarak ayrılması

In [330]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test= train_test_split(GeriS3,sonuc2,test_size=0.40,random_state=42)

In [331]:
x_train

    overcast  rainy  humidity
2        1.0    0.0        86
1        0.0    0.0        90
13       0.0    1.0        91
4        0.0    1.0        80
7        0.0    0.0        95
10       0.0    0.0        70
3        0.0    1.0        96
6        1.0    0.0        65

In [332]:
y_train

    play
2    1.0
1    0.0
13   0.0
4    1.0
7    0.0
10   1.0
3    1.0
6    1.0

In [333]:
x_test

    overcast  rainy  humidity
9        0.0    1.0        80
11       1.0    0.0        90
0        0.0    0.0        85
12       1.0    0.0        75
5        0.0    1.0        70
8        0.0    0.0        70

In [334]:
y_test

    play
9    1.0
11   1.0
0    0.0
12   1.0
5    0.0
8    1.0

Model Oluşturma

In [335]:
from sklearn.linear_model import LinearRegression

Lr=LinearRegression() #hemen bir kapsül oluşturalım
Lr.fit(x_train,y_train)

LinearRegression()

Tahmin Yapabilme (predict)

In [336]:
y_tahmini=Lr.predict(x_test)

In [337]:
tahminDf=pd.DataFrame(data=y_tahmini,columns=["Modelin Tahmini"])

tahminDf

   Modelin Tahmini
0         0.883842
1         0.650106
2         0.333333
3         1.012065
4         1.125148
5         0.695292

In [338]:
y_test

    play
9    1.0
11   1.0
0    0.0
12   1.0
5    0.0
8    1.0

## Defterimizde yazdığımız üzere bazı değişken şeçimi için bazı yaklaşımlar olduğunu söylemiştik.

Bunlar:

-Bütün Değişkenleri Dahil Etmek

-Geriye Doğru Eleme ( Backward Elimantation)

-İleri Seçim (Forward Selection)

-İki Yönlü Eleme ( Bidirectional Elimantation)


ve son olarak,

-Skor Karşılaştırması(Score Comparasion)

çoklu regresyon'da 

y= a+bx+cx+dx gibi x'lerin başındakiler özellik(features)leri temsil ederken bizim sistemimizde bir a değeri bulunmuyor bu yüzden sistemimize bir a değeri eklemem lazım kolon olarak

In [339]:
#Şuan Geriye Doğru Elemeye(Backward Elimantation) Bakıcaz.
#İlk olarak değişkenlerin modeldeki başarısı ölçmek için bir kütüphane import edicez.

import statsmodels.api as sm


a=np.append(arr=np.ones((14,1)).astype(int),values=s3,axis=1) #a 'nın eklenmesi 

a_list= s3.iloc[:,[1,2,]].values 
a_list=np.array(a_list,dtype=float)

play=s3.iloc[:,-1]

model=sm.OLS(play,a_list).fit() #Hedef ile diğer features(özellikleri) 


print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   play   R-squared (uncentered):                   0.644
Model:                            OLS   Adj. R-squared (uncentered):              0.585
Method:                 Least Squares   F-statistic:                              10.88
Date:                Thu, 23 Jun 2022   Prob (F-statistic):                     0.00202
Time:                        14:39:29   Log-Likelihood:                         -9.5338
No. Observations:                  14   AIC:                                      23.07
Df Residuals:                      12   BIC:                                      24.35
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             1.0000      0.258      3.873      0.002       0.437       1.563
x2             0.6000      0.231      2.598      0.023       0.097       1.103
==============================================================================
Omnibus:                        0.731   Durbin-Watson:                   1.438
Prob(Omnibus):                  0.694   Jarque-Bera (JB):                0.313
Skew:                           0.354   Prob(JB):                        0.855
Kurtosis:                       2.810   Cond. No.                         1.12
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

c:\Users\yusuf\anaconda3\lib\site-packages\scipy\stats\stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=14
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "